<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>

    <div class="login-container">
        <div class="login-box">
            <h2>Bienvenido</h2>
            <p>Para ingresar al aplicativo por favor ingrese sus credenciales</p>

            <form id="loginForm">
                <div class="input-group">
                    <span class="icon">👤</span>
                    <input type="text" id="username" placeholder="Username" required>
                </div>
                <div class="input-group">
                    <span class="icon">🔒</span>
                    <input type="password" id="password" placeholder="Password" required>
                </div>
                <button type="submit" class="login-btn">Login</button>
            </form>

            <div class="forgot-password">
                <p>¿Olvidaste tu contraseña? <a href="#">Recuperar</a></p>
            </div>
        </div>
    </div>

    <script src="../static/js/login.js"></script>

</body>
</html>